<li>
	<div class="dogavatar">
		<%= image_tag dog.avatar.url(:thumb) %>
	</div>	

	<span class="doginfo">
		<span class="dogname"><%= link_to dog.name, dog.user %>
			<% if current_user?(dog.user) %>
				<%= link_to "edit", edit_dog_path(dog), title: dog.name %>
				<%= link_to "delete", dog, method: :delete, data: { confirm: "You sure?" }, title: dog.name %>
			<% end %>
		</span>
		<span class="walktimes">
			<% if dog.walktimes.any? %>
				Walk times:
				<ol class="walktimes">
					<%= render dog.walktimes, edit_page: false %>
				</ol>
			<% end %>
		</span>
	</span>
</li>


