<% provide(:title, 'Edit dog') %>
<h1>Update your dog</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@dog) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
<div class="row">	
	<div class="span6 offset3">
		<span class="walktimes">
			<% if @dog.walktimes.any? %>
				Walk times:
				<ol class="walktimes">
					<%= render @dog.walktimes %>
				</ol>
			<% end %>
		</span>
	</div>
</div>
<div class="row">
	<div class="span6 offset3">
		<%= render 'shared/walktime_form', dog: @dog, walktime: Walktime.new %>
	</div>
</div>