<% provide(:title, @user.name) %>
<div class= "row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="span8">
		<section>	
			<%= render 'follow_form' if signed_in? %>
			<% if @user.addresses.any? %>
				<h3>Address</h3>
				<ul class="addresses">
					<%= render @addresses[0] %>
				</ul>
			<% end %>
		</section>
		<section>	
			<% if @user.dogs.any? %>
				<h3>Dogs</h3>
				<ul class="dogs">
					<%= render @dogs %>
				</ul>
			<% end %>
		</section>
	</div>
</div>