<li>
	<span class="address">	<%= address.street %>
							<%= address.city %>
							<%= address.state %>
							<%= address.zipcode %>
	<% if current_user?(address.user) %>
		<%= link_to "delete", address, method: :delete, data: { confirm: "You sure?" }, title: address.street %>
	<% end %>
	</span>
</li>